Options +MultiViews

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,NE,L]

# Error
RewriteRule ^error views/errors/error.php [NC,L]

# Sessions
RewriteRule ^login views/sessions/login.php [NC,L]
RewriteRule ^logout views/sessions/logout.php [NC,L]

# Users
RewriteRule ^users/password/(.*) views/users/update_password.php?id=$1 [NC,L]
RewriteRule ^users/delete/(.*) views/users/delete.php?id=$1 [NC,L]
RewriteRule ^users/show/(.*) views/users/show.php?id=$1 [NC,L]
RewriteRule ^users/edit/(.*) views/users/edit.php?id=$1 [NC,L]
RewriteRule ^users/create views/users/create.php [NC,L]
RewriteRule ^users views/users/index.php [NC,L]

# Status
RewriteRule ^status/delete/(.*) views/status/delete.php?id=$1 [NC,L]
RewriteRule ^status/show/(.*) views/status/show.php?id=$1 [NC,L]
RewriteRule ^status/edit/(.*) views/status/edit.php?id=$1 [NC,L]
RewriteRule ^status/create views/status/create.php [NC,L]
RewriteRule ^status views/status/index.php [NC,L]

# Groups
RewriteRule ^groups/delete/(.*) views/groups/delete.php?id=$1 [NC,L]
RewriteRule ^groups/show/(.*) views/groups/show.php?id=$1 [NC,L]
RewriteRule ^groups/edit/(.*) views/groups/edit.php?id=$1 [NC,L]
RewriteRule ^groups/create views/groups/create.php [NC,L]
RewriteRule ^groups views/groups/index.php [NC,L]

# Tickets
RewriteRule ^tickets/delete/(.*) views/tickets/delete.php?id=$1 [NC,L]
RewriteRule ^tickets/show/(.*) views/tickets/show.php?id=$1 [NC,L]
RewriteRule ^tickets/edit/(.*) views/tickets/edit.php?id=$1 [NC,L]
RewriteRule ^tickets/create views/tickets/create.php [NC,L]
RewriteRule ^tickets views/tickets/index.php [NC,L]

# Projects
RewriteRule ^projects/delete/(.*) views/projects/delete.php?id=$1 [NC,L]
RewriteRule ^projects/show/(.*) views/projects/show.php?id=$1 [NC,L]
RewriteRule ^projects/edit/(.*) views/projects/edit.php?id=$1 [NC,L]
RewriteRule ^projects/create views/projects/create.php [NC,L]
RewriteRule ^projects views/projects/index.php [NC,L]