.dx-header-row {
    font: 2vh 'Nunito' !important;
    background: var(--blue);
    color: var(--white);
}

.dx-column-lines {
    font: 2vh 'Nunito' !important;
    padding: 8px;
}

.fa-pen-to-square {
    font-size: 2.5vh;
    color: var(--blue) !important;
}

.fa-trash {
    font-size: 2.5vh;
    color: var(--pink) !important;
}